@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");

$lightGray: #ebebeb;
$darkGray: #dfe1e3;
$menuGray: #c5cbd2;
$colorRed: #bb1219;
$colorLightRed: #e33239;
$colorBorder: #a2aab2;
$ColorText: #2b2b2b;

$roboto: "Roboto", sans-serif;
$inter: "Inter", sans-serif;

$md1: 1440px;
$md2: 838px;
$md3: 425px;
$mdCaption: 670px;

%arrow {
    width: 60px;
    height: 60px;
    border: 3px solid $colorRed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: auto;

    transition: 0.2s linear;

    @media (min-width: 769px) {
        &:hover {
            background: $colorLightRed;
            border-color: $colorLightRed;
        }
    }
}

%button {
    background: $colorRed;
    color: #fff7f7;

    font-family: $inter;
    font-size: 20px;

    width: 240px;
    height: 70px;
    border: none;

    transition: background-color 0.2s linear;

    &:hover {
        background: $colorLightRed;
    }

    @media (max-width: $md1) {
        height: 60px;
        width: 206px;

        font-size: 16px;
    }

    @media (max-width: $md2) {
        height: 50px;
        width: 176px;

        font-size: 14px;
    }

    @media (max-width: $md3) {
        display: none;
    }
}

%logo {
    background-image: url(../img/logo.png);
    background-position: center;
    background-size: cover;

    width: 200px;
    height: 70px;

    @media (max-width: $md1) {
        width: 170px;
        height: 60px;
    }

    @media (max-width: $md2) {
        width: 145px;
        height: 50px;
    }

    @media (max-width: $md3) {
        width: 87px;
        height: 30px;

        margin: 0 auto;
    }
}

%list {
    li {
        list-style: none;
        text-align: start;

        font-family: $roboto;
        font-size: 20px;
        line-height: 150%;

        span {
            font-family: $inter;
            font-size: 20px;

            margin-right: 20px;

            @media (max-width: $md1) {
                font-size: 16px;
                margin-right: 15px;
            }

            @media (max-width: $md2) {
                font-size: 14px;
                margin-right: 10px;
            }

            @media (max-width: $md2) {
                font-size: 12px;
            }
        }

        @media (max-width: $md1) {
            font-size: 16px;
            line-height: 22px;
        }

        @media (max-width: $md2) {
            font-size: 14px;
        }

        @media (max-width: $md3) {
            font-size: 12px;
        }
    }
}

%info {
    display: flex;
    margin-top: 50px;

    .left {
        @extend %list;
        display: flex;
        flex-direction: column;
        flex: 1;

        .info-name {
            width: max-content;

            font-family: $inter;
            font-size: 26px;
            letter-spacing: 0.05em;

            display: inline-block;
            padding: 12px 35px;
            margin-bottom: 32px;
            border: 1px solid $colorBorder;

            @media (max-width: $md1) {
                font-size: 20px;
                margin-bottom: 22px;
            }

            @media (max-width: $md2) {
                font-size: 16px;
                padding: 10px 25px;
                margin: 0 auto 17px;
            }

            @media (max-width: $md3) {
                font-size: 12px;
                padding: 10px 20px;
                margin-bottom: 16px;
            }
        }

        @media (max-width: $md2) {
        }
    }

    .right {
        flex: 1;
        font-family: $roboto;
        font-size: 20px;
        line-height: 30px;

        @media (max-width: $md1) {
            font-size: 16px;
            line-height: 24px;
        }

        @media (max-width: $md2) {
            font-size: 14px;
            line-height: 21px;
            margin-top: 15px;
        }

        @media (max-width: $md3) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    @media (max-width: $md2) {
        flex-direction: column;
    }
}

%arrowsContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    pointer-events: none;

    @media (max-width: $md3) {
        display: none;
    }
}

%titleBefore {
    @media (min-width: ($mdCaption + 1)) {
        .title {
            display: flex;
            align-items: center;
        }

        .title:before {
            content: "";
            display: block;
            width: 50px;
            height: 3px;
            margin-right: 30px;
            background: $colorRed;
        }
    }
}

@mixin arrowDirection($direction) {
    color: $ColorText;
    font-size: 36px;
    transform: rotate($direction);
}

%arrows {
    .arrow-left {
        @extend %arrow;
    }

    .arrow-left .fas {
        @include arrowDirection(0);
    }

    .arrow-right {
        @extend %arrow;
    }

    .arrow-right .fas {
        @include arrowDirection(180deg);
    }
}

%slidesContainer {
    display: flex;
    max-width: 1100px;
    width: 100%;

    .slide {
        position: relative;
        max-width: 1100px;
        width: 100%;
        user-select: none;
    }
}

%input {
    height: 70px;
    width: 405px;
    padding: 20px 30px;
    background: none;
    border: 1px solid $colorBorder;

    font-family: $roboto;
    font-size: 20px;

    @media (max-width: $md1) {
        height: 60px;
        width: 332px;
        padding: 17px 30px;
        font-size: 16px;
    }

    @media (max-width: $md2) {
        width: 324px;
        padding: 19px 30px;
        font-size: 14px;
    }

    @media (max-width: $md3) {
        width: 290px;
        height: 50px;
        padding: 16px 20px;
        font-size: 12px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::after {
        box-sizing: border-box;
    }
    &::before {
        box-sizing: border-box;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

section {
    overflow: hidden;
    padding: 30px 0;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: $md1) {
        max-width: 940px;
        padding: 0 10px;
    }

    @media (max-width: $md2) {
        max-width: 750px;
    }

    @media (max-width: $md3) {
        max-width: 100%;
    }
}

.container-caption {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 100px;

    .title {
        flex: 1;
        font-family: $inter;
        font-size: 40px;
        line-height: 150%;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        @media (max-width: $md1) {
            font-size: 30px;
        }

        @media (max-width: $md2) {
            font-size: 22px;
        }

        @media (max-width: $mdCaption) {
            margin-bottom: 20px;
        }
    }

    .subtitle {
        flex: 1;
        font-family: $roboto;
        font-size: 20px;
        line-height: 150%;

        @media (max-width: $md1) {
            font-size: 16px;
            line-height: 24px;
        }

        @media (max-width: $md2) {
            font-size: 14px;
            line-height: 21px;
        }
    }

    @media (max-width: $md2) {
        align-items: stretch;
        margin-top: 60px;
    }

    @media (max-width: $md3) {
        margin-top: 10px;
    }

    @media (max-width: $mdCaption) {
        flex-direction: column;
        text-align: center;
        margin: 10px auto 0;
    }
}

header {
    background: $lightGray;

    height: 130px;
    width: 100%;

    display: flex;
    align-items: center;

    .header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 30px;

        .logo {
            @extend %logo;
        }

        .menu {
            display: flex;
            flex: 1;
            justify-content: space-around;
            align-items: center;

            nav {
                width: 515px;
                display: flex;
                justify-content: space-between;

                a {
                    font-family: $roboto;
                    font-size: 20px;

                    text-decoration: none;
                    color: $ColorText;
                }

                @media (max-width: 1600px) {
                    display: none;
                }
            }

            .boorger-menu-btn {
                width: 30px;
                height: 24px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 24px;
                cursor: pointer;

                .stick {
                    width: 100%;
                    height: 2px;
                    background: $ColorText;
                }

                @media (min-width: 1601px) {
                    display: none;
                }

                @media (max-width: $md3) {
                    position: absolute;
                    margin: 0;
                }
            }

            .contacts-info {
                a {
                    font-family: $inter;
                    font-size: 20px;
                    text-decoration: none;
                    color: $ColorText;
                    cursor: auto;
                    margin-right: 50px;

                    &:last-child {
                        margin-right: 0;
                    }

                    @media (max-width: $md1) {
                        font-size: 16px;
                        margin-right: 20px;
                    }

                    @media (max-width: $md2) {
                        font-size: 14px;
                    }

                    @media (max-width: 710px) {
                        display: none;
                    }
                }

                @media (max-width: 1600px) {
                    margin-right: 40px;
                }

                @media (max-width: $md1) {
                    margin-right: 20px;
                }
            }

            @media (max-width: 1600px) {
                justify-content: space-between;
            }

            @media (max-width: $md3) {
                flex: 0;
            }
        }

        button {
            @extend %button;
        }

        @media (max-width: $md1) {
            padding: 0 15px;
        }

        @media (max-width: $md3) {
            flex-direction: row-reverse;
            justify-content: center;
        }
    }

    @media (max-width: $md1) {
        height: 110px;
    }

    @media (max-width: $md2) {
        height: 100px;
    }

    @media (max-width: $md3) {
        position: fixed;
        background: $menuGray;
        height: 60px;
        z-index: 1;
    }
}

.boorger-menu {
    position: fixed;
    width: 100%;
    top: -200vh;
    background: $menuGray;
    z-index: 3;

    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);

    .fa-times {
        font-size: 40px;

        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 80px 0 30px;

        a {
            font-family: $inter;
            font-size: 16px;
            line-height: 21px;
            text-decoration: none;
            color: $ColorText;

            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .contacts-info {
        width: 90%;
        border: 1px solid $colorBorder;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        margin-bottom: 30px;

        a {
            font-family: $inter;
            font-size: 14px;
            line-height: 17px;
            text-decoration: none;
            color: $ColorText;

            &:first-child {
                margin-bottom: 23px;
            }
        }

        .fa-envelope,
        .fa-phone {
            width: 25px;
            height: 25px;
            color: $menuGray;
            background: $colorRed;
            border-radius: 50%;
            margin-right: 15px;

            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        .fa-phone {
            transform: rotate(100deg);
        }
    }
}

.menu-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $menuGray;
    opacity: 0;
    z-index: -1;

    transition: all 0.5s linear;
}

.first-screen {
    background: $darkGray;
    overflow: hidden;

    .subtitle {
        flex: 0.6;

        @media (max-width: $md2) {
            flex: 0.8;
        }
    }

    .mobile-btn {
        @extend %button;
        display: none;

        @media (max-width: $md3) {
            display: block;
            margin: 20px auto 0;
        }
    }

    .slider {
        .arrows {
            @extend %arrowsContainer;
            @extend %arrows;
        }

        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 30px;

        .slides-container {
            @extend %slidesContainer;

            .slide {
                margin: 0 20px;
                opacity: 0.5;

                @media (max-width: $md2) {
                    margin: 0 50px;
                }
            }

            .active-slide {
                opacity: 1;
                margin: 0;
            }
        }
    }

    .slider-points {
        display: flex;
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);

        .point {
            background: $darkGray;
            width: 20px;
            height: 20px;
            margin: 0 7px;
            cursor: pointer;

            @media (max-width: $md2) {
                width: 10px;
                height: 10px;
                margin: 0 5px;
            }
        }

        .active-point {
            background: $colorRed;
        }
    }

    @media (max-width: $md3) {
        padding-top: 60px;
    }
}

.about-us {
    margin-top: 130px;

    @extend %titleBefore;

    .container-caption {
        .subtitle {
            flex: 1.8;
        }
    }

    .about-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 70px 0 100px;

        .card {
            width: 350px;
            height: 200px;
            border: 1px solid $colorBorder;
            margin-bottom: 15px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 60px;
                height: 60px;
                margin-bottom: 30px;

                @media (max-width: $md3) {
                    width: 50px;
                    height: 50px;
                }
            }

            p {
                color: $ColorText;
                font-family: $inter;
                font-size: 20px;
                line-height: 24px;
                text-align: center;

                @media (max-width: $md1) {
                    font-size: 16px;
                    line-height: 19px;
                }

                @media (max-width: $md3) {
                    font-size: 14px;
                    line-height: 17px;
                }
            }

            @media (max-width: $md1) {
                width: 290px;
                height: 200px;
                margin-bottom: 15px;
            }

            @media (max-width: $md2) {
                width: 320px;
                margin-bottom: 20px;
            }

            @media (max-width: $md3) {
                width: 290px;
                height: 160px;
                margin-bottom: 15px;
            }
        }

        @media (max-width: $md1) {
            justify-content: space-evenly;
            margin: 60px 0 80px;
        }

        @media (max-width: $md2) {
            margin: 50px 0 60px;
        }

        @media (max-width: $md3) {
            margin: 20px 0 10px;
        }
    }

    @media (max-width: $md1) {
        margin-top: 110px;
    }

    @media (max-width: $md2) {
        margin-top: 90px;
    }

    @media (max-width: $mdCaption) {
        margin-top: 40px;
    }
}

.completed-projects {
    @extend %titleBefore;

    background: $lightGray;

    .slider {
        .arrows {
            @extend %arrowsContainer;
            @extend %arrows;

            @media (max-width: $md3) {
                display: flex;
                bottom: 40px;

                .arrow {
                    margin: 0 10px;
                }
            }
        }

        display: flex;
        justify-content: center;
        position: relative;
        margin: 70px 0 100px;

        .slides-container {
            @extend %slidesContainer;

            .slide {
                opacity: 0;
            }

            .active-slide {
                opacity: 1;
                margin: 0;
            }
        }

        @media (max-width: $md1) {
            margin: 60px 0 80px;
        }

        @media (max-width: $md2) {
            margin: 50px 0 60px;
        }

        @media (max-width: $mdCaption) {
            margin: 20px 0 10px;
        }

        @media (max-width: $md3) {
            position: static;
        }
    }

    .info {
        @extend %info;
        display: none;
        transition: opacity 0.25s linear;
    }

    .info-active {
        display: flex;
    }

    @media (max-width: $md3) {
        position: relative;
        padding-bottom: 120px;
    }
}

.application-form {
    @extend %titleBefore;

    background: $darkGray;

    #form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px 0 100px;

        #name,
        #tel {
            @extend %input;
        }

        #btn {
            @extend %button;

            @media (max-width: 889px) {
                margin-top: 15px;
            }
        }

        .file {
            display: flex;
            margin-top: 15px;
            margin-right: 174px;

            #file {
                width: 0;
                height: 0;
                opacity: 0;
            }

            label {
                font-family: $roboto;
                font-size: 16px;
                line-height: 24px;
                cursor: pointer;

                &:after {
                    content: "";
                    background-image: url(../img/Vector.png);
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                }
            }
        }

        @media (max-width: 670px) {
            flex-direction: column;
            align-items: center;

            #name,
            #tel {
                order: 1;
                margin-bottom: 15px;
            }

            .file {
                order: 2;
                margin: 0 170px 15px 0;
            }

            #btn {
                order: 3;
                margin-top: 0;
            }
        }

        @media (max-width: $md3) {
            .file {
                margin-right: 140px;
            }

            #btn {
                display: block;
            }
        }

        @media (max-width: $md1) {
            margin: 60px 0 80px;
        }

        @media (max-width: $md2) {
            margin: 50px 0 60px;
        }

        @media (max-width: $mdCaption) {
            margin: 20px 0 10px;
        }
    }
}

.reviews {
    @extend %titleBefore;
    background: $lightGray;

    .videos {
        display: flex;
        margin: 70px 0 100px;

        .video {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 540px;
            height: 340px;
            background-image: url(../img/video/1.png);
            margin-right: 30px;

            &:last-child {
                background-image: url(../img/video/2.png);
                margin-right: 0;
            }

            &:after {
                content: "\25B2";
                display: flex;
                justify-content: center;
                align-items: center;

                font-size: 25px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background: $colorRed;
                color: #fff7f7;

                transition: 0.2s linear;
                transform: rotate(90deg);
            }

            &:hover:after {
                background: $colorLightRed;
            }

            @media (max-width: $md1) {
                width: 450px;
                height: 283px;
            }

            @media (max-width: $md2) {
                width: 324px;
                height: 204px;

                &:after {
                    width: 60px;
                    height: 60px;
                }
            }

            @media (max-width: $mdCaption) {
                margin: 0;

                &:first-child {
                    margin-bottom: 15px;
                }
            }

            @media (max-width: $md3) {
                width: 290px;
                height: 182px;

                &:after {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        @media (max-width: $mdCaption) {
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: $md1) {
            margin: 60px 0 80px;
        }

        @media (max-width: $md2) {
            margin: 50px 0 60px;
        }

        @media (max-width: $mdCaption) {
            margin: 20px 0 10px;
        }
    }
}

.contacts-area {
    @extend %titleBefore;

    background: $darkGray;

    .subtitle {
        @extend %list;
    }

    .info-props {
        @extend %info;
        margin: 0 0 100px;

        .right {
            flex: 1.2;

            p {
                line-height: 200%;
            }
        }

        @media (max-width: $md1) {
            margin-bottom: 80px;
        }

        @media (max-width: $md2) {
            margin-bottom: 60px 0;
        }

        @media (max-width: $md3) {
            margin-bottom: 10px;
        }
    }

    iframe {
        width: 100%;
        height: 430px;
        border: 0;
        margin: 70px 0;

        @media (max-width: $md1) {
            margin: 60px 0;
        }

        @media (max-width: $md2) {
            margin: 50px 0;
        }

        @media (max-width: $md3) {
            height: 360px;
            margin: 15px 0 30px;
        }
    }
}

footer {
    display: flex;
    background: $lightGray;
    height: 130px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .logo {
            @extend %logo;

            @media (max-width: $mdCaption) {
                order: 2;
            }

            @media (max-width: $md3) {
                margin: 0;
            }
        }

        nav {
            a {
                font-family: $roboto;
                font-size: 20px;

                text-decoration: none;
                color: $ColorText;

                margin-right: 50px;
                &:last-child {
                    margin-right: 0;
                }

                @media (max-width: $md1) {
                    font-size: 16px;
                    margin-right: 30px;
                }

                @media (max-width: $md2) {
                    font-size: 14px;
                    margin-right: 20px;
                }

                @media (max-width: $mdCaption) {
                    font-size: 16px;
                    margin-right: 30px;
                }

                @media (max-width: $md3) {
                    font-size: 12px;
                    margin-right: 20px;
                }
            }

            @media (max-width: $mdCaption) {
                order: 1;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        button {
            @extend %button;
            margin-left: 0;

            @media (max-width: $mdCaption) {
                order: 2;
            }

            @media (max-width: $md3) {
                display: block;
            }
        }

        @media (max-width: $mdCaption) {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    right: 45px;
    bottom: 45px;

    height: 80px;
    width: 80px;

    background: none;
    border: 3px solid $colorRed;
    border-radius: 50%;

    transition: 0.2s linear;

    .fas {
        @include arrowDirection(90deg);
    }

    &:hover {
        background: $colorRed;
    }

    @media (max-width: $md2) {
        width: 60px;
        height: 60px;

        right: 20px;
        bottom: 20px;
    }

    @media (max-width: $mdCaption) {
        display: none;
    }
}

.popup-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    z-index: 100;
    opacity: 0;

    background: #c5cbd2d5;

    display: none;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s linear;

    .popup-content {
        position: relative;
        background: $darkGray;
        padding: 50px;
        left: -100vw;
        transition: all 0.3s linear;

        #popupForm {
            display: flex;
            flex-direction: column;
            width: 100%;

            #popupName,
            #popupTel {
                @extend %input;
                margin-bottom: 30px;
            }

            #popupBtn {
                @extend %button;

                @media (max-width: $md3) {
                    display: block;
                }
            }

            .file {
                display: flex;
                margin-bottom: 30px;

                #popupFile {
                    width: 0;
                    height: 0;
                    opacity: 0;
                }

                label {
                    font-family: $roboto;
                    font-size: 16px;
                    line-height: 24px;
                    cursor: pointer;

                    &:after {
                        content: "";
                        background-image: url(../img/Vector.png);
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                    }
                }
            }
        }

        .fa-times {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 30px;
            cursor: pointer;
        }

        // @media (max-width: $md3) {
        //     padding: 30px;
        // }
    }
}
