@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");
.first-screen .slider .arrows .arrow-left, .completed-projects .slider .arrows .arrow-left, .first-screen .slider .arrows .arrow-right, .completed-projects .slider .arrows .arrow-right {
  width: 60px;
  height: 60px;
  border: 3px solid #bb1219;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  pointer-events: auto;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@media (min-width: 769px) {
  .first-screen .slider .arrows .arrow-left:hover, .completed-projects .slider .arrows .arrow-left:hover, .first-screen .slider .arrows .arrow-right:hover, .completed-projects .slider .arrows .arrow-right:hover {
    background: #e33239;
    border-color: #e33239;
  }
}

header .header-container button, .first-screen .mobile-btn, .application-form #form #btn, footer .container button, .popup-area .popup-content #popupForm #popupBtn {
  background: #bb1219;
  color: #fff7f7;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  width: 240px;
  height: 70px;
  border: none;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

header .header-container button:hover, .first-screen .mobile-btn:hover, .application-form #form #btn:hover, footer .container button:hover, .popup-area .popup-content #popupForm #popupBtn:hover {
  background: #e33239;
}

@media (max-width: 1440px) {
  header .header-container button, .first-screen .mobile-btn, .application-form #form #btn, footer .container button, .popup-area .popup-content #popupForm #popupBtn {
    height: 60px;
    width: 206px;
    font-size: 16px;
  }
}

@media (max-width: 838px) {
  header .header-container button, .first-screen .mobile-btn, .application-form #form #btn, footer .container button, .popup-area .popup-content #popupForm #popupBtn {
    height: 50px;
    width: 176px;
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  header .header-container button, .first-screen .mobile-btn, .application-form #form #btn, footer .container button, .popup-area .popup-content #popupForm #popupBtn {
    display: none;
  }
}

header .header-container .logo, footer .container .logo {
  background-image: url(../img/logo.png);
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 70px;
}

@media (max-width: 1440px) {
  header .header-container .logo, footer .container .logo {
    width: 170px;
    height: 60px;
  }
}

@media (max-width: 838px) {
  header .header-container .logo, footer .container .logo {
    width: 145px;
    height: 50px;
  }
}

@media (max-width: 425px) {
  header .header-container .logo, footer .container .logo {
    width: 87px;
    height: 30px;
    margin: 0 auto;
  }
}

.completed-projects .info .left li, .contacts-area .info-props .left li, .contacts-area .subtitle li {
  list-style: none;
  text-align: start;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 150%;
}

.completed-projects .info .left li span, .contacts-area .info-props .left li span, .contacts-area .subtitle li span {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-right: 20px;
}

@media (max-width: 1440px) {
  .completed-projects .info .left li span, .contacts-area .info-props .left li span, .contacts-area .subtitle li span {
    font-size: 16px;
    margin-right: 15px;
  }
}

@media (max-width: 838px) {
  .completed-projects .info .left li span, .contacts-area .info-props .left li span, .contacts-area .subtitle li span {
    font-size: 14px;
    margin-right: 10px;
  }
}

@media (max-width: 838px) {
  .completed-projects .info .left li span, .contacts-area .info-props .left li span, .contacts-area .subtitle li span {
    font-size: 12px;
  }
}

@media (max-width: 1440px) {
  .completed-projects .info .left li, .contacts-area .info-props .left li, .contacts-area .subtitle li {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 838px) {
  .completed-projects .info .left li, .contacts-area .info-props .left li, .contacts-area .subtitle li {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .completed-projects .info .left li, .contacts-area .info-props .left li, .contacts-area .subtitle li {
    font-size: 12px;
  }
}

.completed-projects .info, .contacts-area .info-props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.completed-projects .info .left, .contacts-area .info-props .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.completed-projects .info .left .info-name, .contacts-area .info-props .left .info-name {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  letter-spacing: 0.05em;
  display: inline-block;
  padding: 12px 35px;
  margin-bottom: 32px;
  border: 1px solid #a2aab2;
}

@media (max-width: 1440px) {
  .completed-projects .info .left .info-name, .contacts-area .info-props .left .info-name {
    font-size: 20px;
    margin-bottom: 22px;
  }
}

@media (max-width: 838px) {
  .completed-projects .info .left .info-name, .contacts-area .info-props .left .info-name {
    font-size: 16px;
    padding: 10px 25px;
    margin: 0 auto 17px;
  }
}

@media (max-width: 425px) {
  .completed-projects .info .left .info-name, .contacts-area .info-props .left .info-name {
    font-size: 12px;
    padding: 10px 20px;
    margin-bottom: 16px;
  }
}

.completed-projects .info .right, .contacts-area .info-props .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 1440px) {
  .completed-projects .info .right, .contacts-area .info-props .right {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 838px) {
  .completed-projects .info .right, .contacts-area .info-props .right {
    font-size: 14px;
    line-height: 21px;
    margin-top: 15px;
  }
}

@media (max-width: 425px) {
  .completed-projects .info .right, .contacts-area .info-props .right {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 838px) {
  .completed-projects .info, .contacts-area .info-props {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.first-screen .slider .arrows, .completed-projects .slider .arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
}

@media (max-width: 425px) {
  .first-screen .slider .arrows, .completed-projects .slider .arrows {
    display: none;
  }
}

@media (min-width: 671px) {
  .about-us .title, .completed-projects .title, .application-form .title, .reviews .title, .contacts-area .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us .title:before, .completed-projects .title:before, .application-form .title:before, .reviews .title:before, .contacts-area .title:before {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    margin-right: 30px;
    background: #bb1219;
  }
}

.first-screen .slider .arrows .arrow-left .fas, .completed-projects .slider .arrows .arrow-left .fas {
  color: #2b2b2b;
  font-size: 36px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.first-screen .slider .arrows .arrow-right .fas, .completed-projects .slider .arrows .arrow-right .fas {
  color: #2b2b2b;
  font-size: 36px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.first-screen .slider .slides-container, .completed-projects .slider .slides-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  width: 100%;
}

.first-screen .slider .slides-container .slide, .completed-projects .slider .slides-container .slide {
  position: relative;
  max-width: 1100px;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.application-form #form #name,
.application-form #form #tel, .popup-area .popup-content #popupForm #popupName,
.popup-area .popup-content #popupForm #popupTel {
  height: 70px;
  width: 405px;
  padding: 20px 30px;
  background: none;
  border: 1px solid #a2aab2;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

@media (max-width: 1440px) {
  .application-form #form #name,
  .application-form #form #tel, .popup-area .popup-content #popupForm #popupName,
  .popup-area .popup-content #popupForm #popupTel {
    height: 60px;
    width: 332px;
    padding: 17px 30px;
    font-size: 16px;
  }
}

@media (max-width: 838px) {
  .application-form #form #name,
  .application-form #form #tel, .popup-area .popup-content #popupForm #popupName,
  .popup-area .popup-content #popupForm #popupTel {
    width: 324px;
    padding: 19px 30px;
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .application-form #form #name,
  .application-form #form #tel, .popup-area .popup-content #popupForm #popupName,
  .popup-area .popup-content #popupForm #popupTel {
    width: 290px;
    height: 50px;
    padding: 16px 20px;
    font-size: 12px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

section {
  overflow: hidden;
  padding: 30px 0;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    max-width: 940px;
    padding: 0 10px;
  }
}

@media (max-width: 838px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 100%;
  }
}

.container-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 100px;
}

.container-caption .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  .container-caption .title {
    font-size: 30px;
  }
}

@media (max-width: 838px) {
  .container-caption .title {
    font-size: 22px;
  }
}

@media (max-width: 670px) {
  .container-caption .title {
    margin-bottom: 20px;
  }
}

.container-caption .subtitle {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 150%;
}

@media (max-width: 1440px) {
  .container-caption .subtitle {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 838px) {
  .container-caption .subtitle {
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 838px) {
  .container-caption {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 60px;
  }
}

@media (max-width: 425px) {
  .container-caption {
    margin-top: 10px;
  }
}

@media (max-width: 670px) {
  .container-caption {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 10px auto 0;
  }
}

header {
  background: #ebebeb;
  height: 130px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}

header .header-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .menu nav {
  width: 515px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-container .menu nav a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #2b2b2b;
}

@media (max-width: 1600px) {
  header .header-container .menu nav {
    display: none;
  }
}

header .header-container .menu .boorger-menu-btn {
  width: 30px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 24px;
  cursor: pointer;
}

header .header-container .menu .boorger-menu-btn .stick {
  width: 100%;
  height: 2px;
  background: #2b2b2b;
}

@media (min-width: 1601px) {
  header .header-container .menu .boorger-menu-btn {
    display: none;
  }
}

@media (max-width: 425px) {
  header .header-container .menu .boorger-menu-btn {
    position: absolute;
    margin: 0;
  }
}

header .header-container .menu .contacts-info a {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #2b2b2b;
  cursor: auto;
  margin-right: 50px;
}

header .header-container .menu .contacts-info a:last-child {
  margin-right: 0;
}

@media (max-width: 1440px) {
  header .header-container .menu .contacts-info a {
    font-size: 16px;
    margin-right: 20px;
  }
}

@media (max-width: 838px) {
  header .header-container .menu .contacts-info a {
    font-size: 14px;
  }
}

@media (max-width: 710px) {
  header .header-container .menu .contacts-info a {
    display: none;
  }
}

@media (max-width: 1600px) {
  header .header-container .menu .contacts-info {
    margin-right: 40px;
  }
}

@media (max-width: 1440px) {
  header .header-container .menu .contacts-info {
    margin-right: 20px;
  }
}

@media (max-width: 1600px) {
  header .header-container .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 425px) {
  header .header-container .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

@media (max-width: 1440px) {
  header .header-container {
    padding: 0 15px;
  }
}

@media (max-width: 425px) {
  header .header-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1440px) {
  header {
    height: 110px;
  }
}

@media (max-width: 838px) {
  header {
    height: 100px;
  }
}

@media (max-width: 425px) {
  header {
    position: fixed;
    background: #c5cbd2;
    height: 60px;
    z-index: 1;
  }
}

.boorger-menu {
  position: fixed;
  width: 100%;
  top: -200vh;
  background: #c5cbd2;
  z-index: 3;
  -webkit-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.boorger-menu .fa-times {
  font-size: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.boorger-menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px 0 30px;
}

.boorger-menu nav a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #2b2b2b;
  margin-bottom: 25px;
}

.boorger-menu nav a:last-child {
  margin-bottom: 0;
}

.boorger-menu .contacts-info {
  width: 90%;
  border: 1px solid #a2aab2;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin-bottom: 30px;
}

.boorger-menu .contacts-info a {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #2b2b2b;
}

.boorger-menu .contacts-info a:first-child {
  margin-bottom: 23px;
}

.boorger-menu .contacts-info .fa-envelope,
.boorger-menu .contacts-info .fa-phone {
  width: 25px;
  height: 25px;
  color: #c5cbd2;
  background: #bb1219;
  border-radius: 50%;
  margin-right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boorger-menu .contacts-info .fa-phone {
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
}

.menu-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #c5cbd2;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.first-screen {
  background: #dfe1e3;
  overflow: hidden;
}

.first-screen .subtitle {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
}

@media (max-width: 838px) {
  .first-screen .subtitle {
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
  }
}

.first-screen .mobile-btn {
  display: none;
}

@media (max-width: 425px) {
  .first-screen .mobile-btn {
    display: block;
    margin: 20px auto 0;
  }
}

.first-screen .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 30px;
}

.first-screen .slider .slides-container .slide {
  margin: 0 20px;
  opacity: 0.5;
}

@media (max-width: 838px) {
  .first-screen .slider .slides-container .slide {
    margin: 0 50px;
  }
}

.first-screen .slider .slides-container .active-slide {
  opacity: 1;
  margin: 0;
}

.first-screen .slider-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.first-screen .slider-points .point {
  background: #dfe1e3;
  width: 20px;
  height: 20px;
  margin: 0 7px;
  cursor: pointer;
}

@media (max-width: 838px) {
  .first-screen .slider-points .point {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }
}

.first-screen .slider-points .active-point {
  background: #bb1219;
}

@media (max-width: 425px) {
  .first-screen {
    padding-top: 60px;
  }
}

.about-us {
  margin-top: 130px;
}

.about-us .container-caption .subtitle {
  -webkit-box-flex: 1.8;
      -ms-flex: 1.8;
          flex: 1.8;
}

.about-us .about-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 0 100px;
}

.about-us .about-cards .card {
  width: 350px;
  height: 200px;
  border: 1px solid #a2aab2;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .about-cards .card img {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

@media (max-width: 425px) {
  .about-us .about-cards .card img {
    width: 50px;
    height: 50px;
  }
}

.about-us .about-cards .card p {
  color: #2b2b2b;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 1440px) {
  .about-us .about-cards .card p {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 425px) {
  .about-us .about-cards .card p {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 1440px) {
  .about-us .about-cards .card {
    width: 290px;
    height: 200px;
    margin-bottom: 15px;
  }
}

@media (max-width: 838px) {
  .about-us .about-cards .card {
    width: 320px;
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .about-us .about-cards .card {
    width: 290px;
    height: 160px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1440px) {
  .about-us .about-cards {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 60px 0 80px;
  }
}

@media (max-width: 838px) {
  .about-us .about-cards {
    margin: 50px 0 60px;
  }
}

@media (max-width: 425px) {
  .about-us .about-cards {
    margin: 20px 0 10px;
  }
}

@media (max-width: 1440px) {
  .about-us {
    margin-top: 110px;
  }
}

@media (max-width: 838px) {
  .about-us {
    margin-top: 90px;
  }
}

@media (max-width: 670px) {
  .about-us {
    margin-top: 40px;
  }
}

.completed-projects {
  background: #ebebeb;
}

.completed-projects .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 70px 0 100px;
}

@media (max-width: 425px) {
  .completed-projects .slider .arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 40px;
  }
  .completed-projects .slider .arrows .arrow {
    margin: 0 10px;
  }
}

.completed-projects .slider .slides-container .slide {
  opacity: 0;
}

.completed-projects .slider .slides-container .active-slide {
  opacity: 1;
  margin: 0;
}

@media (max-width: 1440px) {
  .completed-projects .slider {
    margin: 60px 0 80px;
  }
}

@media (max-width: 838px) {
  .completed-projects .slider {
    margin: 50px 0 60px;
  }
}

@media (max-width: 670px) {
  .completed-projects .slider {
    margin: 20px 0 10px;
  }
}

@media (max-width: 425px) {
  .completed-projects .slider {
    position: static;
  }
}

.completed-projects .info {
  display: none;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.completed-projects .info-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 425px) {
  .completed-projects {
    position: relative;
    padding-bottom: 120px;
  }
}

.application-form {
  background: #dfe1e3;
}

.application-form #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 100px;
}

@media (max-width: 889px) {
  .application-form #form #btn {
    margin-top: 15px;
  }
}

.application-form #form .file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-right: 174px;
}

.application-form #form .file #file {
  width: 0;
  height: 0;
  opacity: 0;
}

.application-form #form .file label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.application-form #form .file label:after {
  content: "";
  background-image: url(../img/Vector.png);
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

@media (max-width: 670px) {
  .application-form #form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .application-form #form #name,
  .application-form #form #tel {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 15px;
  }
  .application-form #form .file {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 170px 15px 0;
  }
  .application-form #form #btn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 0;
  }
}

@media (max-width: 425px) {
  .application-form #form .file {
    margin-right: 140px;
  }
  .application-form #form #btn {
    display: block;
  }
}

@media (max-width: 1440px) {
  .application-form #form {
    margin: 60px 0 80px;
  }
}

@media (max-width: 838px) {
  .application-form #form {
    margin: 50px 0 60px;
  }
}

@media (max-width: 670px) {
  .application-form #form {
    margin: 20px 0 10px;
  }
}

.reviews {
  background: #ebebeb;
}

.reviews .videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 70px 0 100px;
}

.reviews .videos .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 540px;
  height: 340px;
  background-image: url(../img/video/1.png);
  margin-right: 30px;
}

.reviews .videos .video:last-child {
  background-image: url(../img/video/2.png);
  margin-right: 0;
}

.reviews .videos .video:after {
  content: "\25B2";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #bb1219;
  color: #fff7f7;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.reviews .videos .video:hover:after {
  background: #e33239;
}

@media (max-width: 1440px) {
  .reviews .videos .video {
    width: 450px;
    height: 283px;
  }
}

@media (max-width: 838px) {
  .reviews .videos .video {
    width: 324px;
    height: 204px;
  }
  .reviews .videos .video:after {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 670px) {
  .reviews .videos .video {
    margin: 0;
  }
  .reviews .videos .video:first-child {
    margin-bottom: 15px;
  }
}

@media (max-width: 425px) {
  .reviews .videos .video {
    width: 290px;
    height: 182px;
  }
  .reviews .videos .video:after {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 670px) {
  .reviews .videos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1440px) {
  .reviews .videos {
    margin: 60px 0 80px;
  }
}

@media (max-width: 838px) {
  .reviews .videos {
    margin: 50px 0 60px;
  }
}

@media (max-width: 670px) {
  .reviews .videos {
    margin: 20px 0 10px;
  }
}

.contacts-area {
  background: #dfe1e3;
}

.contacts-area .info-props {
  margin: 0 0 100px;
}

.contacts-area .info-props .right {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
}

.contacts-area .info-props .right p {
  line-height: 200%;
}

@media (max-width: 1440px) {
  .contacts-area .info-props {
    margin-bottom: 80px;
  }
}

@media (max-width: 838px) {
  .contacts-area .info-props {
    margin-bottom: 60px 0;
  }
}

@media (max-width: 425px) {
  .contacts-area .info-props {
    margin-bottom: 10px;
  }
}

.contacts-area iframe {
  width: 100%;
  height: 430px;
  border: 0;
  margin: 70px 0;
}

@media (max-width: 1440px) {
  .contacts-area iframe {
    margin: 60px 0;
  }
}

@media (max-width: 838px) {
  .contacts-area iframe {
    margin: 50px 0;
  }
}

@media (max-width: 425px) {
  .contacts-area iframe {
    height: 360px;
    margin: 15px 0 30px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ebebeb;
  height: 130px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 670px) {
  footer .container .logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 425px) {
  footer .container .logo {
    margin: 0;
  }
}

footer .container nav a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #2b2b2b;
  margin-right: 50px;
}

footer .container nav a:last-child {
  margin-right: 0;
}

@media (max-width: 1440px) {
  footer .container nav a {
    font-size: 16px;
    margin-right: 30px;
  }
}

@media (max-width: 838px) {
  footer .container nav a {
    font-size: 14px;
    margin-right: 20px;
  }
}

@media (max-width: 670px) {
  footer .container nav a {
    font-size: 16px;
    margin-right: 30px;
  }
}

@media (max-width: 425px) {
  footer .container nav a {
    font-size: 12px;
    margin-right: 20px;
  }
}

@media (max-width: 670px) {
  footer .container nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .container button {
  margin-left: 0;
}

@media (max-width: 670px) {
  footer .container button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 425px) {
  footer .container button {
    display: block;
  }
}

@media (max-width: 670px) {
  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 45px;
  bottom: 45px;
  height: 80px;
  width: 80px;
  background: none;
  border: 3px solid #bb1219;
  border-radius: 50%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn .fas {
  color: #2b2b2b;
  font-size: 36px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.btn:hover {
  background: #bb1219;
}

@media (max-width: 838px) {
  .btn {
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 20px;
  }
}

@media (max-width: 670px) {
  .btn {
    display: none;
  }
}

.popup-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  z-index: 100;
  opacity: 0;
  background: #c5cbd2d5;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.popup-area .popup-content {
  position: relative;
  background: #dfe1e3;
  padding: 50px;
  left: -100vw;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.popup-area .popup-content #popupForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.popup-area .popup-content #popupForm #popupName,
.popup-area .popup-content #popupForm #popupTel {
  margin-bottom: 30px;
}

@media (max-width: 425px) {
  .popup-area .popup-content #popupForm #popupBtn {
    display: block;
  }
}

.popup-area .popup-content #popupForm .file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.popup-area .popup-content #popupForm .file #popupFile {
  width: 0;
  height: 0;
  opacity: 0;
}

.popup-area .popup-content #popupForm .file label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.popup-area .popup-content #popupForm .file label:after {
  content: "";
  background-image: url(../img/Vector.png);
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.popup-area .popup-content .fa-times {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */